body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:focus {
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
  color: orange;
}

ul {
  display: flex;
  margin-top: 30px;
}

.addButton {
  background-color: #ADD8E6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.app {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  height: 100vh;
}

.content {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #E8E8E8;
  border-radius: 5px;
  min-height: 300px;
  max-width: 800px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 25px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.flexbox-1, .listEdit {
  flex-basis: 60%;
  margin-left: 60px;
}

.flexbox-2 {
  flex-basis: 5%;
}

.form {
  display: flex;
  margin: 0 auto;
  width: 30%;
}

.listEdit {
  background: none;
  border: none;
  color:grey;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
}

/* input:focus {
  background: white;
  border: 1px solid grey;
} */
